.key {
    float: left;
    overflow: hidden;
    margin: 5px;
    border-width: 0 5px;
    padding: 0 3px;
    width: 10px;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(img/toolButton.png) 0 5 0 5;
}

 /* thanks to Lea Verou (http://leaverou.me) */
 
@font-face {
	font-family: 'iPhone keyboard';
	src: url(iphone-keyboard.ttf);
}

#letterpad {
  /*display: none;*/
}

#done {
  /*display: none;*/
}

#keypad {
	/*max-width:320px;	
	margin:10px auto;
	padding:0;
	overflow:hidden;
	/*border-top:1px solid #3A3D42;
	background:#757D8A;
	background-image:-moz-linear-gradient(#9098A3, #454f5d);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#9098A3), to(#454f5d));
	
	box-shadow:0 1px 0 rgba(255,255,255,.3) inset;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.3) inset;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.3) inset;
  */
}

	#keypad li {
		text-align:center;
		margin:.5em .1em .25em;
		list-style:none;
	}
	
	#keypad li:first-child {
		/*margin-top:1em;*/
		margin-top:.7em;
	}
	
	#keypad button {
		color:#3A3D42;
		
		text-decoration:none;
		text-align:center;
		text-shadow:0 1px 1px white;
		font-weight:bold;
		
		border:0;
		border-top:1px solid rgba(255,255,255,.45);		
		
		background:#ECEDEF;
		background-image:-moz-linear-gradient(#f8f8f9, #dddfe1);
		background-image:-webkit-gradient(linear, left top, left bottom, from(#f8f8f9), to(#dddfe1));
		
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		
		box-shadow:0 1px 3px rgba(0,0,0,.7), 0 1px 0 rgba(0,0,0,.3);
		-moz-box-shadow:0 1px 3px rgba(0,0,0,.7), 0 1px 0 rgba(0,0,0,.3);
		-webkit-box-shadow:0 1px 3px rgba(0,0,0,.7), 0 1px 0 rgba(0,0,0,.3);
	}
	
	#keypad button {
		display:inline-block;
		/*width:8.6%;
		margin:0 .25%;
		padding:.02em 0 .03em;*/
		width: 10%;
		padding:.16em 0;
		margin: .4em;
		
		
		color:black;
		
		font-size:1.35em;
		font-family:Helvetica, Arial, sans-serif;
	}
	
	#keypad button:active,
	#keypad button.space:active {
		background-image:-moz-linear-gradient(#E2E3E4, #AAADB4);
		background-image:-webkit-gradient(linear, left top, left bottom, from(#E2E3E4), to(#AAADB4));
	}
	
	#keypad button.specialkey {
		background:#757D8A;
		background-image:-moz-linear-gradient(#7f8792, #535b68);
		background-image:-webkit-gradient(linear, left top, left bottom, from(#7f8792), to(#535b68));
		
		color:white;
		text-shadow:0 -1px 1px rgba(0,0,0,.5);
	}
	
	#keypad button.space,
	#keypad button.return,
	#keypad button.numbers,
	#keypad button.international {
		font-size:1.04em;
		padding:.25em 0;
	}
	
	#keypad button.shift,
	#keypad button.international,
	#keypad button.backspace {
		font-family:'iPhone keyboard', Helvetica, sans-serif;
	}
	
	#keypad button.shift,
	#keypad button.backspace {
		background-image:-moz-linear-gradient(#939ba6, #687180);
		background-image:-webkit-gradient(linear, left top, left bottom, from(#939ba6), to(#687180));
	}
		
	#keypad button.shift {
		width:12%;
		float:left;
	}
	
	#keypad button.backspace {
		width:12%;
		float:right;
	}
	
	#keypad button.numbers {
		width:8.4%;
		margin-right:1.4%;
		float:left;
	}
	
	#keypad button.international {
		width:8.2%;
		float:left;
	}
	
	#keypad button.space {
		width:59%;
		color:#525c69;
		
		background-image:-moz-linear-gradient(#dddfe2, #b4b8bf);
		background-image:-webkit-gradient(linear, left top, left bottom, from(#dddfe2), to(#b4b8bf));
	}
	
	#keypad button.return {
		float:right;
		width:18.9%;
	}
