#courses.current
  .toolbar
    %h1
      Study Lists
    %a{ :href => "#", :class => "button rightButton", :id => "update-course-list" }
      More
  %ul.rounded
  
  =render "footer"

  .key
    A
  .key
    B
  .key
    C
    
