#courses{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "header"}
    %h1
      Study Lists
    %a{:href => "#", "data-role" => "button", "data-icon" => "refresh", "data-iconpos" => "right", :class => "ui-btn-right", :id => "update-course-list"}
      Refresh
  #courselist{"data-role" => "content" }

  =render "footer"
  