#courses{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      Study Lists
    %a{:href => "#", :class => "button rightButton", :id => "update-course-list"}
      More
  #courselist{"data-role" => "content" }

  =render "footer"
  