#courses.current
  .toolbar
    %h1
      Study Lists
    %a{ :href => "#", :class => "button rightButton", :id => "update-course-list" }
      More
  %ul#courselist.rounded
    
  %ul#iphone-keyboard
    %li
      %button{:type => "button"} Q
      %button{:type => "button"} W
      %button{:type => "button"} E
      %button{:type => "button"} R
      %button{:type => "button"} T
      %button{:type => "button"} Q
      %button{:type => "button"} W
      %button{:type => "button"} E
      %button{:type => "button"} R
      %button{:type => "button"} T
    %li
      %button{:type => "button"} A
      %button{:type => "button"} S
      %button{:type => "button"} D


  =render "footer"
  