#courses.current
  .toolbar
    %h1
      Study Lists
    %a{ :href => "#", :class => "button rightButton", :id => "update-course-list" }
      More
  %ul#courselist.rounded
  
  %ul
    %li
      %button{:type => "button"} Q
      %button{:type => "button"} W
      %button{:type => "button"} E
  
  
  %ul#iphone-keyboard
    %li
      %button{:type => "button"} Q
      %button{:type => "button"} W
      %button{:type => "button"} E
      %button{:type => "button"} R
      %button{:type => "button"} T
      %button{:type => "button"} Y
      %button{:type => "button"} U
      %button{:type => "button"} I
      %button{:type => "button"} O
      %button{:type => "button"} P
    %li
      %button{:type => "button"} A
      %button{:type => "button"} S
      %button{:type => "button"} D
      %button{:type => "button"} F
      %button{:type => "button"} G
      %button{:type => "button"} H
      %button{:type => "button"} J
      %button{:type => "button"} K
      %button{:type => "button"} L
    %li
      %button.specialkey.shift{:type => "button"} S
      %button{:type => "button"} Z
      %button{:type => "button"} X
      %button{:type => "button"} C
      %button{:type => "button"} V
      %button{:type => "button"} B
      %button{:type => "button"} N
      %button{:type => "button"} M
      %button.specialkey.backspace{:type => "button"} B
    %li
      %button.specialkey.numbers{:type => "button"} 123
      %button.specialkey.international{:type => "button"} I
      %button.space{:type => "button"} space
      %button.specialkey.return{:type => "button"} return


  =render "footer"
  