#lesson{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "header"}
    %h1
  %div{"data-role" => "content", :id => "exercise" }
    %ul{"data-role" => "listview", :id => "qa"}
      %li
        #question
      %li
        #answer
      //%li
      //%form#response-form
      //=text_field_tag "response-field", nil, :autocomplete => "off"

    %br

    %div{:id => "keys"}

  %script#keyTemplate{:type => "text/x-jquery-tmpl"}
    %a.ui-btn.ui-btn-up-b.ui-btn-inline.ui-btn-corner-all.ui-shadow{"data-content" => "${id}", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => '#'}
      %span.ui-btn-inner.ui-btn-corner-all
        %span.ui-btn-text ${text}
        
  =render "footer"

