#lesson{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "header"}
    %h1
  %div{"data-role" => "content", :id => "exercise" }
    %ul{"data-role" => "listview", :id => "qa"}
      %li
        #question
      %li
        #answer
      //%li
      //%form#response-form
      //=text_field_tag "response-field", nil, :autocomplete => "off"

    %br

    %div{:id => "keypad"}
      %div{:id => "keys"}

      %div
        %a{:href => '#', "data-inline" => "true", "data-role" => "button", "data-theme" => "a", "data-icon" => "arrow-l", "id" => "undo"}Undo
        %a{:href => '#', "data-inline" => "true", "data-role" => "button", "data-theme" => "a", "id" => "space"}Space
        %a{:href => '#', "data-inline" => "true", "data-role" => "button", "data-theme" => "b", "data-icon" => "check", "id" => "done"}Done
        
  %script#keyTemplate{:type => "text/x-jquery-tmpl"}
    %a.ui-btn.ui-btn-up-b.ui-btn-inline.ui-btn-corner-all.ui-shadow{:href => '#', "data-content" => "${id}", "data-inline" => "true", "data-role" => "button", "data-theme" => "a"}
      %span.ui-btn-inner.ui-btn-corner-all
        %span.ui-btn-text ${text}
        
  =render "footer"

  .ui-loader.ui-body-a.ui-corner-all
    /%span.ui-icon.ui-icon-loading.spin
    %h1#message
  
