#lesson{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "header"}
    %h1
  %div{"data-role" => "content" }
    %ul{"data-role" => "listview"}
      %li
        #question
      %li
        #alert
      %li
        #answer        
      %li
        %form#response-form
          =text_field_tag "response-field", nil, :autocomplete => "off"

    %ul#keypad
      %li#letterpad
      
      %li#go
        %button{:type=>'button'}Go
        
      %li#done
        %button{:type=>'button'}Done

  =render "footer"

