#lesson
  .toolbar
    %h1
      [Topic]
    %a{ :href => "#", :class => "button leftButton goback" }
      Go back
  %ul.rounded
    %li
      #question
    %li
      #alert
    %li
      #answer        
      %form#response-form
        =text_field_tag "response-field", nil, :autocomplete => "off"

    %ul#keypad
      %li#letterpad
      
      %li#go
        %button{:type=>'button', :id=>'go'}Go
        
      %li#done
        %button{:type=>'button'}Done