#lesson{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      [Topic]
    %a{:href => "#", "data-role" => "button", "data-icon" => "left", :class => "goback"}
      Go back
  %div{"data-role" => "content" }
    %ul{"data-role" => "listview"}
      %li
        #question
      %li
        #alert
      %li
        #answer        
        %form#response-form
          =text_field_tag "response-field", nil, :autocomplete => "off"

    %ul#keypad
      %li#letterpad
        /%button{:type=>'button', :data=>{:content=>'a'}}A
        /%button{:type=>'button', :data=>{:content=>'b'}}B
        /%button{:type=>'button', :data=>{:content=>'c'}}C
        /%button{:type=>'button', :data=>{:content=>'d'}}D
      
      %li#go
        /%button{:type=>'button'}Go
        
      %li#done
        /%button{:type=>'button'}Done

=render "footer"
