#topics{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      [Subject]
    %a{:href => "#", "data-role" => "button", "data-icon" => "refresh", :class => "goback"}
      Go back
  #topiclist{"data-role" => "content" }
  
  =render "footer"
