#topics{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      [Subject]
    %a{ :href => "#", :class => "button leftButton goback" }
      Go back
  #topiclist{"data-role" => "content" }
  
  =render "footer"
