!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title StudyLists - Sencha Touch version
    %link{:href => "/stylesheets/ext-touch-debug.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/application.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/javascripts/ext-touch-debug.js", :type => "text/javascript"}
    %script{:src => "/javascripts/sencha-app.js", :type => "text/javascript"}
    %script{:src => "/javascripts/subjects.json", :type => "text/javascript"}
    %script{:src => "/javascripts/test.json", :type => "text/javascript"}
  %body
